<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439799132801-797hbamhlmb40vfjks7pce9u83qpg3sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439799132801-797hbamhlmb40vfjks7pce9u83qpg3sa</string>
	<key>API_KEY</key>
	<string>AIzaSyAmi0w_FIoBvwn9Ma_sfmhE5LV-xIp-ewQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439799132801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAuthTutorial</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-2b050</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-2b050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439799132801:ios:090acbdd5d162a5adcd380</string>
</dict>
</plist>